<td class="sonata-ba-list-label" width="40%"> {{ the_block.meta.label }} </td>
<td>
    <div class="btn-group">
        {% if admin.allow(app.user, the_block.role, 'list') %}
            <a class="btn btn-link btn-flat" href="{{ url('nakima_admin_action', {bundle: block.getBundleName(), entity: block.getEntityName(), action: 'list', status: 'delivered'}) }}">
                <i class="fa fa-list">&nbsp;</i> Listar
            </a>
        {% endif %}
    </div>
</td>