{% extends _nakima('nakima_admin').templates.list %}

{% block stylesheets %}
  {{ parent() }}

  <style>
    .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
      border-radius: 0;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.4;
    }
  </style>
{% endblock %}

{% block content_header %}
  {% spaceless %}
    <div class="sticky-wrapper">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">

            </a>
          </div>
          <div class="navbar-collapse">
            <div class="navbar-left">
            </div>
            <ul class="nav navbar-nav navbar-right">
              {% block content_header_actions %}
                {% if admin.allow(app.user, config_block.role, 'create') %}
                  <li><a class="sonata-action-element" href="{{ url('nakima_admin_action', {'bundle': bundle_name, 'entity': entity_name, 'action': 'create'}) }}"><i class="fa fa-plus-circle"></i> Agregar nuevo</a></li>
                {% endif %}
                {% if admin.allow(app.user, config_block.role, 'export') %}
                  <li><a class="sonata-action-element" href="{{ url('nakima_admin_action', {'bundle': bundle_name, 'entity': entity_name, 'action': 'export', status: request.get('status', 'all'), hto: request.get('hto', 0) }) }}"><i class="fa fa-download"></i> Exportar a CSV</a></li>
                {% endif %}
              {% endblock %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  {% endspaceless %}
{% endblock %}

{% block breadcrumb %}
  {% spaceless %}
    <li><a href="{{ url('nakima_admin_dashboard') }}">Dashboard</a></li>
    <li class="active"><span>Lista de {{ config_block.meta.label }}</span></li>
  {% endspaceless %}
{% endblock %}

{% block content %}
  {% spaceless %}
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          {% if request.get('status') %}
            <h3 class="box-title">{{ ("status_" ~ request.get('status') | lower ) | trans({}, translator )}}</h3>
          {% else %}
            <h3 class="box-title">Pedidos</h3>
          {% endif %}
        </div>
        <div class="box-body">
          <div class=" dataTables_wrapper form-inline dt-bootstrap">
            <table id="list_table" class="table table-hover table-responsive">
              <thead>
                <tr>
                  {% for field in mapper.getFields() %}
                    <th> {{ field.getLabel() | trans({}, translator) }} </th>
                  {% endfor %}
                  {% block list_actions_column %}{{ parent() }}{% endblock %}
                </tr>
              </thead>
              <tbody>
                {% for value in data %}
                  <tr>
                    {% for field in mapper.getFields() %}

                      {% set attribute_name = field.getAttribute() %}
                      {% set field_value = value.get(attribute_name) %}

                      {% if attribute_name == 'status' %}
                        <td style="vertical-align: middle">
                          <select id="status-change-{{ value.id }}" name="" data-orderId='{{ value.id }}' data-lastState='{{field_value.id}}' onchange="onStatusChange(event, this, '{{ url('nakima_shop_api_order_status_update', {oId: value.id}) }}');" {% if not app.user.grantsRole("ROLE_SHOP_ADMIN")%}disabled{% endif %}>
                            {% for status in settings.statuses %}
                              <option {% if status.name == field_value %} selected {% endif %} value="{{ status.id }}">{{ status.name | trans({}, translator) }}</option>
                            {% endfor %}
                          </select>
                        </td>
                      {#{% elseif attribute_name == 'trackingNumber' %}
                        <td style="vertical-align: middle">
                          <div class="input-group input-group-sm">
                            <input type="text" class="form-control" id="trackingNumber-input-{{ value.id }}" value='{{ field_value }}'>
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-info btn-flat" onclick="onTrackingNumberClick(event, 'trackingNumber-input-{{ value.id }}', '{{ url('nakima_shop_api_order_trackingNumber_update', {oId: value.id}) }}')"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </span>
                          </div>
                        </td>#}
                      {% elseif field_value is iterable %}
                        <td style="vertical-align: middle">{{ field_value | join(', ') }}</td>
                      {% elseif _isBaseEntity(field_value) %}
                        <td style="vertical-align: middle"><a href="#">{{ field_value }}</a></td>
                      {% else %}
                        <td style="vertical-align: middle">{{ field_value }}</td>
                      {% endif %}
                    {% endfor %}
                    {% block list_actions %}{{ parent() }}
                    {% endblock %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  function onStatusChange(event, select, url){
    var lastState = select.getAttribute('data-lastState');

    if (lastState == select.value) {
      return;
    }

    var stateId = parseInt(select.value);
    var orderId = parseInt(select.getAttribute('data-orderId'));

    var onStatusChangeSuccess = function() {
      this.setAttribute('data-lastState', this.value);

      showSuccess('Estado cambiado a '+this.options[this.selectedIndex].text);
    }

    var onStatusChangeFailure = function(data) {
      var lastState = this.getAttribute('data-lastState');
      $("#" + this.id).val(lastState).triggerHandler('change');

      response = JSON.parse(data.response);

      showError(response.message);
    }

    var data = new FormData();
    data.append('status_id', stateId);

    Nakima.post(
      url,
      data,
      onStatusChangeSuccess.bind(select),
      onStatusChangeFailure.bind(select)
    );
  }

  function onTrackingNumberClick(event, inputId, url) {
    var input = _id(inputId);
    var trackingNumber = input.value;

    var data = new FormData();
    data.append('trackingNumber', trackingNumber);

    var onTrackingNumberChangeSuccess = function() {
      showSuccess('Tracking Number cambiado correctamente.');
    }

    var onTrackingNumberChangeError = function() {
      showError('Tracking Number cambiado correctamente.');
    }

    Nakima.post(
      url,
      data,
      onTrackingNumberChangeSuccess,
      onTrackingNumberChangeError
    );
  }
  </script>
  {% endspaceless %}
{% endblock %}