{% extends _nakima('nakima_admin').templates.show %}

{% block stylesheets %}
  {{ parent() }}

  <style>
    .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
      border-radius: 0;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.4;
    }

    th.fit {
      white-space: nowrap;
      width: 1%;
    }

    td.fit {
      white-space: nowrap;
      width: 1%;
    }
  </style>
{% endblock %}

{% block breadcrumb %}
  {% spaceless %}
    <li><a href="{{ url('nakima_admin_dashboard') }}">Dashboard</a></li>
    <li class="active"><span>Lista de {{ config_block.meta.label }}</span></li>
  {% endspaceless %}
{% endblock %}

{% block content %}
  {% spaceless %}
    <div class="row">
      <div class="col-md-6">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Pedido {{ data.ref }}</h3>
          </div>

          <div class="box-body">
            <table class="table table-responsive">
              <tbody>
                <tr><td class="fit"><b>Número de Referencia</b></td><td><a>{{ data.ref }}</a></td></tr>
                <tr><td class="fit"><b>Número de pedido</b></td><td><a>{{ data.trackingNumber }}</a></td></tr>
                <tr><td class="fit"><b>Estado</b></td><td><a>{{ data.status | trans({}, translator ) }}</a></td></tr>
                <tr><td class="fit"><b>Cliente</b></td><td><a>{{ data.customer.username }}</a></td></tr>
                <tr><td class="fit"><b>Precio</b></td><td><a>{{ data.price }}&nbsp;<i class="fa fa-eur"></i></a></td></tr>
                {% if true %}
                  <tr><td class="fit"><b>Gastos de envio</b></td><td><a>{{ data.shippingPrice }}&nbsp;<i class="fa fa-eur"></i>&nbsp;({{ data.shippingMethod.name }})</a></td></tr>
                {% endif %}
                <tr><td class="fit"><b>Descuento de promoción</b></td><td><a>{{ data.promotionDiscount }}&nbsp;<i class="fa fa-eur"></i></a></td></tr>
                <tr><td class="fit"><b>Código de promoción</b></td><td><a>{{ data.promotionCode }}</a></td></tr>
                <tr><td class="fit"><b>Fecha de pedido</b></td><td><a>{{ data.createdAt | format_datetime }}</a></td></tr>
                {% if data.deliveryDate %}
                  <tr><td class="fit"><b>Fecha de entrega</b></td><td><a>{{ data.deliveryDate | format_datetime }}</a></td></tr>
                {% else %}
                  <tr><td class="fit"><b>Fecha de entrega</b></td><td><a>No entregado</a></td></tr>
                {% endif %}
                <tr><td class="fit"><b>Última actualización</b></td><td><a>{{ data.lastUpdated | format_datetime }}</a></td></tr>
                <tr><td class="fit"><b>Dirección de envio</b></td><td><a>{{ data.shippingAddress }}</a></td></tr>
                <tr><td class="fit"><b>Dirección de facturación</b></td><td><a>{{ data.billAddress }}</a></td></tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Productos</h3>
          </div>

          <div class="box-body">
            <ul class="products-list product-list-in-box">

              {% for orderProduct in data.orderProducts %}

                <li class="item">
                  <div class="product-img">
                    {% if orderProduct.originalProduct.gallery.galleryMedias | length > 0 %}
                      <img src="{{ orderProduct.originalProduct.gallery.galleryMedias[0].media.getDownloadLink() }}" alt="Product Image">
                    {% else %}
                      <img src="https://hdimagesnew.com/wp-content/uploads/2016/09/image-not-found.png" alt="Product Image">
                    {% endif %}
                  </div>
                  <div class="product-info">
                    <span class="text-green"><b>{{ orderProduct.quantity }}x &nbsp;</b></span> <a href="javascript:void(0)" class="product-title">{{ orderProduct.originalProduct.name }}<span class="label label-warning pull-right">{{ orderProduct.originalProduct.finalPrice }} <i class="fa fa-eur"></i></span></a>
                    <span class="product-description"><i>{{ orderProduct.originalProduct.description }}</i></span>

                      {% for attr in orderProduct.productAttributes %}
                        <span class="product-description">
                          <b>{{ attr.name }}:</b> {{ attr.value }}
                        </span>
                      {% endfor %}

                  </div>
                </li>

              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% endspaceless %}
{% endblock %}
