{% extends _nakima('nakima_admin').templates.edit %}

{% block content %}
  {% spaceless %}

  <form class="form-horizontal" action="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': data.id, 'action': 'edit'}) }}" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">{{ config_block.meta.label }}</h3>
          </div>
          <div class="box-body">
            {{ form_row(form._token) }}

            <div class="row">
              <div class="form-group">
                {{ form_label(form.children.name, null, {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                <div class="col-md-4">
                  {{ form_widget(form.children.name, {'attr': {'class': 'form-control' }}) }}
                  {{ form_errors(form.children.name) }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="">
                <dic class="col-md-offset-4 col-md-4">
                  <table class="table table-responsive">
                    <thead><tr><th>Valor</th><th>Valor alternativo</th><th></th></tr></thead>
                    <tbody id="attribute-values">
                      {% for attributeValue in form.children.attributeValues.children %}
                        <tr>
                          <td>
                            <input type="hidden" value="{{ attributeValue.children.id.vars.value }}" name="{{ attributeValue.children.id.vars.full_name }}">
                            <input type="text" class="form-control" placeholder="Valor" value="{{ attributeValue.children.value.vars.value }}" name="{{ attributeValue.children.value.vars.full_name }}"/>
                          </td>
                          <td>
                            {#<input type="color" style="width:34px;padding:2px" class="form-control" placeholder="Valor Alternativo" value="{{ attributeValue.children.alternativeValue.vars.value }}" name="{{ attributeValue.children.alternativeValue.vars.full_name }}"/>#}
                            <input type="text" class="form-control" placeholder="Valor Alternativo" value="{{ attributeValue.children.alternativeValue.vars.value }}" name="{{ attributeValue.children.alternativeValue.vars.full_name }}"/>
                          </td>
                          <td style="vertical-align:middle;"><a class="control-label" title="eliminar" onclick="deleteAtt(event, this)"><i class="fa fa-times"></i></a></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                  <a class="btn btn-link" onclick="addAttribute(event, this)"><i class="fa fa-plus"></i> Agregar otro</a>
                </dic>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ form_errors(form) }}

    <input type="submit">
  </form>

  <table class="ghost" id="ghost-attribute">
    <tr>
      <td>
        <input type="text" class="form-control" placeholder="Valor" value="" name="form[attributeValues][{id}][value]"/>
      </td>
      <td>
        {#<input type="color" style="width:34px;padding:2px" class="form-control" placeholder="Valor Alternativo" value="{{ attributeValue.children.alternativeValue.vars.value }}" name="{{ attributeValue.children.alternativeValue.vars.full_name }}"/>#}
        <input type="text" class="form-control" placeholder="Valor Alternativo" value="" name="form[attributeValues][{id}][alternativeValue]"/>
      </td>
      <td style="vertical-align:middle;"><a title="eliminar" onclick="deleteAtt(event, this)"><i class="fa fa-times"></i></a></td>
    </tr>
  </table>

  <script>
    function addAttribute(event) {
      event.preventDefault();

      var clone = _id("ghost-attribute").children[0].children[0].cloneNode(4);
      var id = Math.random().toString(36).substring(7);

      var eles = clone._tag('input');
      for (var e in eles) {
        if (eles[e].name) {
          eles[e].name = eles[e].name.replace('{id}', id);
        }
      }

      _id("attribute-values").appendChild(clone);
    }

    function deleteAtt(event, node) {
      node.parentNode.parentNode.remove();
    }
  </script>
  {% endspaceless %}
{% endblock %}
