{% extends _nakima('nakima_admin').templates.create %}

{% block stylesheets %}
  {{ parent() }}
  <style>
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
  }

  .inputfile + label {
    cursor: pointer; /* "hand" cursor */
  }

  .inputfile + label .fa {
    color: lightgray;
  }

  .inputfile:focus + label {
    /*outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;*/
  }

  .image-folder {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding: 10px;
  }

  .image-folder .image-preview-label {
    font-size: 7em;
  }

  .image-folder .input-preview:hover {
    border-color: #00a65a;
    color: #00a65a;
  }
  .image-folder .preview-content {
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    width: 150px;
    height: 150px;
  }

  .image-folder .input-preview {
    text-align: center;
  }

  .image-folder .preview {
    max-width: 200px;
    max-height: 200px;

    min-width: 200px;
    min-height: 200px;
  }

  .image-folder .preview-delete {
    opacity: 0;
  }

  .image-folder .loaded .preview-delete {
    opacity: 0.15;
  }

  .image-folder .loaded:hover .preview-delete {
    opacity: 0.5 !important;
  }

  .image-folder .loaded .preview-delete:hover {
    opacity: 1 !important;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .input-title .input-lg {
    background-color: transparent;
    height: 70px;
    font-size: 48px;
    padding-right: 56.5px;
  }

  .input-title .input-lg + span {
    font-size: 48px;
    width: 100px;
    top: 12px;
  }

  .input-title .input-lg:focus + span {
    border-color: #3c8dbc;
    box-shadow: none;
  }

  </style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block content %}
  {% spaceless %}
    {{ form_errors(form) }}
    <form class="" action="{{ url('nakima_admin_action', {'bundle': bundle_name, 'entity': entity_name, 'action': 'create'}) }}" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 input-title form-group has-feedback">
          <input class="form-control input-lg " type="text" placeholder="Nombre del producto" name="{{ form.children.name.vars.full_name }}" />
          <span class="ion ion-edit form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>

      <div class="row"><div class="col-md-12">&nbsp;</div></div>

      <div class="row">
        <div class="col-md-12">
          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" style="background-color: #ecf0f5;">
              <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Configuración Básica</a></li>
              <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="true">Galeria</a></li>
              <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true">Descuento</a></li>
              <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="true">Atributos</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div class="row">
                  <div class="col-md-9">
                    <div class="form-group">
                      {{ form_label(form.children.summary, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.summary, {'attr': {'class': 'form-control', 'placeholder': form.children.summary.vars.label }}) }}
                      {{ form_errors(form.children.summary) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.mainCategory, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.mainCategory, {'attr': {'class': 'form-control' }}) }}
                      {{ form_errors(form.children.mainCategory) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.brand, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.brand, {'attr': {'class': 'form-control', 'placeholder': form.children.brand.vars.label }}) }}
                      {{ form_errors(form.children.brand) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.shops, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.shops, {'attr': {'class': 'form-control', 'placeholder': form.children.enabled.vars.label }}) }}
                      {{ form_errors(form.children.shops) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.description, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.description, {'attr': {'class': 'form-control', 'placeholder': form.children.description.vars.label }}) }}
                      {{ form_errors(form.children.description) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.price, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.price, {'attr': {'class': 'form-control', 'placeholder': form.children.price.vars.label }}) }}
                      {{ form_errors(form.children.price) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.enabled, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.enabled, {'attr': {'class': 'form-control', 'placeholder': form.children.enabled.vars.label }}) }}
                      {{ form_errors(form.children.enabled) }}
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="form_shops">Enable Home Try On</label>
                      {{ form_widget(form.children.hto, {'attr': {'class': 'form-control', 'placeholder': form.children.hto.vars.label }}) }}
                      {{ form_errors(form.children.hto) }}
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="form_shops">Enable Shop Try On</label>
                        {{ form_widget(form.children.sto, {'attr': {'class': 'form-control', 'placeholder': form.children.sto.vars.label }}) }}
                        {{ form_errors(form.children.sto) }}
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="form_shops">Valor de relevancia</label>
                        {{ form_widget(form.children.relevanceOrder, {'attr': {'class': 'form-control', 'placeholder': form.children.relevanceOrder.vars.label }}) }}
                        {{ form_errors(form.children.relevanceOrder) }}
                    </div>
                  </div>

                  <div class="col-md-3">
                    <label>Categorias</label>
                    <div id="tree"></div>
                    <div id="category-inputs" class="ghost"></div>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="tab_2">
                <div class="image-folder">
                  <div class="row gallery">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb preview" style="">
                      <div class="input-preview preview-content" style="border-width:3px">
                        <input type="file" name="file" id="file" class="inputfile" multiple/>
                        <label class="image-preview-label" for="file"><i class="fa fa-file-image-o"></i></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {% set discountForm = form.children.discount %}

              <div class="tab-pane" id="tab_3">

                <div class="form-group">
                  <label class="col-sm-3 control-label" for="form_shops">Descuento directo</label>
                  {{ form_widget(discountForm.children.absolute, {'attr': {'class': 'form-control', 'placeholder': discountForm.children.absolute.vars.label }}) }}
                  {{ form_errors(discountForm.children.absolute) }}
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label" for="form_shops">Cantidad de descuento</label>
                  {{ form_widget(discountForm.children.discount, {'attr': {'class': 'form-control', 'placeholder': discountForm.children.discount.vars.label }}) }}
                  {{ form_errors(discountForm.children.discount) }}
                </div>

                {#<div class="form-group">
                  <label class="col-sm-3 control-label" for="form_shops">Nombre de descuento</label>
                  {{ form_widget(discountForm.children.display, {'attr': {'class': 'form-control', 'placeholder': discountForm.children.display.vars.label }}) }}
                  {{ form_errors(discountForm.children.display) }}
                </div>#}
              </div>

              <div class="tab-pane" id="tab_4">
                <div class="row attributes-selection">
                  <div class="col-md-12"><h4><strong>Selección de Atributos: </strong></h4></div>
                  <div class="col-md-8">
                    {{ form_widget(form.children.attributes, {'attr': {'class': 'form-control', 'placeholder': form.children.attributes.vars.label }}) }}
                    {{ form_errors(form.children.attributes) }}
                  </div>
                  <!--<div class="col-md-4">
                    <button class="btn btn-primary" id="attributes-add">Añadir Atributo</button>
                  </div>
                  <div class="col-md-12">
                    <p class="text-danger attributes-error hidden">{ERROR_MESSAGE}</p>
                  </div>-->
                </div>
                <div class="row product-attributes">
                  <!--div class="col-md-12"><h4><strong>Atributos actuales del producto:</strong></h4></div>
                  <br />

                  <div class="col-md-12">
                    <table class="table table-responsive">
                      <tr>
                        <th class="col-md-4 col-md-offset-1">Atributo</th>
                        <th class="col-md-2">Nombre</th>
                        <th class="col-md-1">Tipo</th>
                      </tr>
                      <!-- TODO ->
                    </table>
                  </div-->
                </div>
              </div>

              <!-- /.tab-pane -->
            </div>
          <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
      <!-- /.col -->
      </div>
      {{ form_row(form._token) }}
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <input class="btn btn-success" type="submit" value="Guardar">&nbsp;
          <input class="btn btn-success" type="submit" name="edit" value="Guardar y seguir editando">
        </div>
      </div>

    </form>

    <div class="ghost ghost-preview">
      <div class="col-lg-3 col-md-4 col-xs-6 thumb preview">
        <div class="box image-preview preview-content preview-responsive" style="height:150px;background-size: contain;background-position: center;background-repeat: no-repeat">
          <div class="box-header" >
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-danger btn-sm pull-right preview-delete" >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="progress sm">
            <div class="progress-bar progress-bar-aqua" style="width: 0%"></div>
          </div>
        </div>
        <input type="hidden" class="image_form_id" name="gallery_images[]" value="">
      </div>
    </div>

    <div class="ghost ghost-category">
      <div class="ghost">
        <input type="hidden" name="categories[]" value="">
      </div>
    </div>


    <script>
      var input = _id('file');

      input.addEventListener( 'change', function( event ) {

        for (var f in event.target.files) {
          var file = event.target.files[f];
          if (!file.type) {
            continue;
          }
          if (file.type.match('image')) {
            if (file.size < {{ _maximumUploadSize() }}) {
              var container = _class('ghost-preview')[0].children[0].cloneNode(4);
              _class('gallery')[0].appendChild(container);

              setPreviewAndUpload(container, file);

            } else {
              console.error(file.name, 'is too big');
            }
          } else {
            console.error(file.name, 'is not an image');
          }
        }
      });

      function setPreviewAndUpload(container, file) {
        var preview = container._class('preview-responsive')[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.addEventListener('load', function(event) {
            preview.style.backgroundImage = 'url(' + event.target.result + ')';
        });

        var bar = container._class('progress-bar')[0];

        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.upload.addEventListener('progress', function(event) {
          var pc = parseInt(100 - (event.loaded / event.total * 100));
          if (pc) {
            bar.style.width = pc + "%";
          }
        });
        xhr.onreadystatechange = function(event) {
          if (xhr.readyState == 4) {
            bar.style.width = "100%";
            if (xhr.status == 200) {
              bar.parentNode.style.display = 'none';
              var media = JSON.parse(xhr.responseText).media;
              preview.style.backgroundImage = 'url(' + media.downloadLink + ')';
              preview._class('preview-delete')[0].style.opacity = 0.15;
              container.classList.add('loaded');

              container._class('image_form_id')[0].value = media.id;
              preview._class('preview-delete')[0].onclick = function(event) {
                Nakima.delete("{{ url('nakima_shop_api_delete_media') }}?id=" + media.id, [], function() {
                  container.remove();
                }, function() {});
              };
            } else {
              bar.classList.add('progress-bar-red');
            }
          }
        };

        var formData = new FormData();
        formData.append("media", file);
        xhr.open("POST", "{{ url('nakima_shop_api_upload_media') }}", true);
        xhr.send(formData);
      }

      function transform(node, map) {
        var ret = {};
        ret.id = node.id;
        ret.text = node.name;
        ret.selectable = false;
        ret.state = {
          "expanded": false,
          "checked": map[ret.id] != undefined
        };

        if (node.subcategories.length) {
          ret.nodes = [];
          for (b in node.subcategories) {
            ret.nodes[b] = transform(node.subcategories[b], map);
          }
        }

        return ret;
      }

      function getTree() {
        var aTree = {{ settings.categories | json_encode() | raw }};
        var categories = {{ data.__toArray().categories | json_encode() | raw  }};

        var map = {};

        for (var i = 0; i < categories.length; i++) {
          map[categories[i].id] = categories[i];
        }

        var tree = [];
        for (var t in aTree) {
          tree[t] = transform(aTree[t], map);
        }

        return tree;
      }

      function updateNodes(node, b) {
        node.state.checked = b;
        if (node.nodes !== undefined) {
          for (var i = 0; i < node.nodes.length; i++) {
            node.nodes[i] = updateNodes(node.nodes[i], b);
          }
        }

        return node;
      }

      function replaceNode(originalNode, node, b) {

        if (originalNode.id == node.id) {
          originalNode = node;
          return originalNode;
        }
        if (originalNode.nodes) {
          for (var i = 0; i < originalNode.nodes.length; i++) {
            var res = replaceNode(originalNode.nodes[i], node, b);
            if (res) {
              originalNode.nodes[i] = res;
              originalNode.state.expanded = true;
              return originalNode;
            }
          }
        }

        return false;
      }

      var originalTree = getTree();
      var inputs = _id('category-inputs');

      function buildTree(tree) {
        console.log(tree);
        _id('tree').outerHTML = '<div id="tree"></div>';
        var $checkableTree = $('#tree').treeview({
          data: tree,
          uncheckedIcon: "fa fa-square-o",
          checkedIcon: "fa fa-check-square-o",
          collapseIcon: "fa fa-chevron-down",// "fa fa-minus",
          expandIcon: "fa fa-chevron-right",// "fa fa-plus",
          showIcon: false,
          showCheckbox: true,
          silent: true,
          onNodeChecked: function(event, node) {
            updateNodes(node, true);
            for (var i = 0; i < tree.length; i++) {
              var res = replaceNode(tree[i], node, true);
              if (res) {
                tree[i] = res;
              }
            }
            inputs.innerHTML = "";
            for (var i = 0; i < tree.length; i++) {
              refresh(tree[i]);
            }
            buildTree(tree);

            //asdasd();
          },
          onNodeUnchecked: function (event, node) {
            updateNodes(node, false);
            for (var i = 0; i < tree.length; i++) {
              var b = replaceNode(tree[i], node, false);
              if (b) {
                tree[i] = b;
              }

            }
            inputs.innerHTML = "";
            for (var i = 0; i < tree.length; i++) {
              refresh(tree[i]);
            }

            buildTree(tree);
            //asdasd();
          }
        });
      }

      function refresh(node) {
        if (node.nodes) {
          node.state.checked = false;
          for (var i = 0; i < node.nodes.length; i++) {
            var b = refresh(node.nodes[i]);
            node.state.checked = node.state.checked || b;
          }
        }

        if (node.state.checked) {
          var copy = _class("ghost-category")[0].children[0].cloneNode(3);
          copy._tag('input')[0].value = node.id;
          inputs.appendChild(copy);
        }

        return node.state.checked;
      }

      buildTree(originalTree);
      for (var i = 0; i < originalTree.length; i++) {
        refresh(originalTree[i]);
      }
    </script>
  {% endspaceless %}
{% endblock %}
