{% extends _nakima('nakima_admin').templates.edit %}

{% block stylesheets %}
  {{ parent() }}
  <style>
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
  }

  .inputfile + label {
    cursor: pointer; /* "hand" cursor */
  }

  .inputfile + label .fa {
    color: lightgray;
  }

  .inputfile:focus + label {
    /*outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;*/
  }

  .image-folder {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding: 10px;
  }

  .image-folder .image-preview-label {
    font-size: 7em;
  }

  .image-folder .input-preview:hover {
    border-color: #00a65a;
    color: #00a65a;
  }
  .image-folder .preview-content {
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    width: 150px;
    height: 150px;
  }

  .image-folder .input-preview {
    text-align: center;
  }

  .image-folder .preview {
    max-width: 200px;
    max-height: 200px;

    min-width: 200px;
    min-height: 200px;
  }

  .image-folder .preview-delete {
    opacity: 0;
  }

  .image-folder .loaded .preview-delete {
    opacity: 0.15;
  }

  .image-folder .loaded:hover .preview-delete {
    opacity: 0.5 !important;
  }

  .image-folder .loaded .preview-delete:hover {
    opacity: 1 !important;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .input-title .input-lg {
    background-color: transparent;
    height: 70px;
    font-size: 48px;
    padding-right: 56.5px;
  }

  .input-title .input-lg + span {
    font-size: 48px;
    width: 100px;
    top: 12px;
  }

  .input-title .input-lg:focus + span {
    border-color: #3c8dbc;
    box-shadow: none;
  }

  /* Rob styles */

  .product-combinations .combination {
    height: 40px;
    line-height: 40px;

    text-align: left;
  }

  .product-combinations .combination .actions{
    text-align: right;
  }

  .product-combinations-actions{
    text-align: right;
    margin-top: 1rem;
  }

  .attributes-block {
    margin-bottom: 40px;
  }

  </style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block form_class %}
{% endblock %}

{% block form_inner_content %}
  {% spaceless %}
    {{ form_errors(form) }}


      <div class="row">
        <div class="col-md-10 col-md-offset-1 input-title form-group has-feedback">
          <input class="form-control input-lg " type="text" placeholder="Nombre del producto" name="{{ form.children.name.vars.full_name }}" value="{{ form.children.name.vars.value }}"/>
          <span class="ion ion-edit form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>

      <div class="row"><div class="col-md-12">&nbsp;</div></div>

      <div class="row">
        <div class="col-md-12">
          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" style="background-color: #ecf0f5;">
              <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="true">Configuración Básica</a></li>
              <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="true">Galeria</a></li>
              <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true">Descuento</a></li>
              <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="true">Atributos</a></li>
              <li class=""><a href="#tab_5" data-toggle="tab" aria-expanded="true">Combinaciones</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane" id="tab_1">
                <div class="row">
                  <div class="col-md-9">
                    <div class="form-group">
                      {{ form_label(form.children.summary, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.summary, {'attr': {'class': 'form-control', 'placeholder': form.children.summary.vars.label }}) }}
                      {{ form_errors(form.children.summary) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.slug, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.slug, {'attr': {'class': 'form-control', 'placeholder': form.children.slug.vars.label }}) }}
                      {{ form_errors(form.children.slug) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.mainCategory, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.mainCategory, {'attr': {'class': 'form-control select2' }}) }}
                      {{ form_errors(form.children.mainCategory) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.brand, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.brand, {'attr': {'class': 'form-control', 'placeholder': form.children.brand.vars.label }}) }}
                      {{ form_errors(form.children.brand) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.shops, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.shops, {'attr': {'class': 'form-control', 'placeholder': form.children.enabled.vars.label }}) }}
                      {{ form_errors(form.children.shops) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.description, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.description, {'attr': {'class': 'form-control', 'placeholder': form.children.description.vars.label }}) }}
                      {{ form_errors(form.children.description) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.price, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.price, {'attr': {'class': 'form-control', 'placeholder': form.children.price.vars.label }}) }}
                      {{ form_errors(form.children.price) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.enabled, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.enabled, {'attr': {'class': 'form-control', 'placeholder': form.children.enabled.vars.label }}) }}
                      {{ form_errors(form.children.enabled) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.children.featured, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                      {{ form_widget(form.children.featured, {'attr': {'class': 'form-control', 'placeholder': form.children.featured.vars.label }}) }}
                      {{ form_errors(form.children.featured) }}
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="form_hto">Enable Home Try On</label>
                      {{ form_widget(form.children.hto, {'attr': {'class': 'form-control', 'placeholder': form.children.hto.vars.label }}) }}
                      {{ form_errors(form.children.hto) }}
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="form_sto">Enable Shop Try On</label>
                      {{ form_widget(form.children.sto, {'attr': {'class': 'form-control', 'placeholder': form.children.sto.vars.label }}) }}
                      {{ form_errors(form.children.sto) }}
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="form_shops">Valor de relevancia</label>
                        {{ form_widget(form.children.relevanceOrder, {'attr': {'class': 'form-control', 'placeholder': form.children.relevanceOrder.vars.label }}) }}
                        {{ form_errors(form.children.relevanceOrder) }}
                    </div>
                  </div>

                  <div class="col-md-3">
                    <label>Categorias</label>
                    <div id="tree"></div>
                    <div id="category-inputs" class="ghost"></div>
                  </div>

                </div>
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="tab_2">
                <div class="image-folder">
                  <div class="row gallery">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb preview" style="">
                      <div class="input-preview preview-content" style="border-width:3px">
                        <input type="file" name="file" id="file" class="inputfile" multiple/>
                        <label class="image-preview-label" for="file"><i class="fa fa-file-image-o"></i></label>
                      </div>
                    </div>

                    {% for media in data.gallery.galleryMedias %}
                      <div class="col-lg-3 col-md-4 col-xs-6 thumb preview loaded"  >
                        <div class="box image-preview preview-content preview-responsive" style="height:150px;background-size: contain;background-position: center;background-repeat: no-repeat; background-image: url('{{ media.media.downloadLink }}')">
                          <div class="box-header" >
                            <div class="pull-right box-tools">
                              <button type="button" class="btn btn-danger btn-sm pull-right preview-delete" onclick="deletePreview(event, this, {{ media.media.id }})" >
                                <i class="fa fa-trash"></i>
                              </button>
                            </div>
                          </div>
                          <div class="progress sm">
                            <div class="progress-bar progress-bar-aqua" style="width: 0%"></div>
                          </div>
                        </div>
                        <input type="hidden" class="image_form_id" name="gallery_images[]" value="{{ media.media.id }}">
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              {% set discountForm = form.children.discount %}

              <div class="tab-pane" id="tab_3">

                <div class="form-group">
                  <label class="col-sm-3 control-label" for="form_shops">Descuento directo</label>
                  {{ form_widget(discountForm.children.absolute, {'attr': {'class': 'form-control', 'placeholder': discountForm.children.absolute.vars.label }}) }}
                  {{ form_errors(discountForm.children.absolute) }}
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label" for="form_shops">Cantidad de descuento</label>
                  {{ form_widget(discountForm.children.discount, {'attr': {'class': 'form-control', 'placeholder': discountForm.children.discount.vars.label }}) }}
                  {{ form_errors(discountForm.children.discount) }}
                </div>

                {#<div class="form-group">
                  <label class="col-sm-3 control-label" for="form_shops">Nombre de descuento</label>
                  {{ form_widget(discountForm.children.display, {'attr': {'class': 'form-control', 'placeholder': discountForm.children.display.vars.label }}) }}
                  {{ form_errors(discountForm.children.display) }}
                </div>#}
              </div>

              <div class="tab-pane" id="tab_4">
                <div id="attributes-block" class="attributes-block">
                  <div class="row attributes-selection">
                    <div class="col-md-12"><h4><strong>Selección de Atributos: </strong></h4></div>
                    <div class="col-md-8">
                      {{ form_widget(form.children.attributes, {
                        'attr': {
                          'class': 'form-control',
                          'readonly': 'readonly',
                          'disabled': 'disabled',
                          'placeholder': form.children.attributes.vars.label
                        }
                      }) }}
                      {{ form_errors(form.children.attributes) }}
                    </div>
                  </div>
                  <div class="row product-attributes">
                    <!-- TODO -->
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab_5">
                <div id="combinations-block" class="combinations-block">
                  <div class="row combinations-generator">
                    <div class="col-md-12"><h4><strong>Agregar nueva combinación: </strong></h4></div>
                    <div class="col-md-8">
                      <select multiple id="combinations-selector" name="attributevalues_ids[]">
                        {% for attr in settings.productAttributeValues %}
                          <option value="{{ attr.id }}">{{ attr.productAttribute.name }}:{{ attr.value }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-primary" id="combinations-generate">Generar Combinaciones</button>
                    </div>
                    <div class="col-md-12">
                      <p class="text-danger combinations-error hidden">{ERROR_MESSAGE}</p>
                    </div>
                  </div>
                  <div class="row product-combinations">
                    <div class="col-md-12"><h4><strong>Combinaciones actuales del producto:</strong></h4></div>
                    <br />

                    <div class="col-md-12">
                      <table class="table table-responsive">
                        <tr>
                          <th class="col-md-4 col-md-offset-1">Combinación</th>
                          <th class="col-md-1">Acciones</th>
                        </tr>
                        <tbody id="nkm-shop-combinations">
                        {% for combination in data.combinations %}
                          {{ include('NakimaShopBundle:Block:product_edit_combination.html.twig', { 'combination': combination }) }}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
            </div>
          <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
      <!-- /.col -->
        {{ form_row(form._token) }}
        {% block form_submit %}
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <input class="btn btn-success" type="submit" value="Guardar">&nbsp;
              <input class="btn btn-success" type="submit" name="edit" value="Guardar y seguir editando">&nbsp;
              <input class="btn btn-danger" type="submit" name="delete" value="Eliminar">
            </div>
        {% endblock %}
      </div>

{% endspaceless %}
{% endblock %}


{% block form_outer_content %}
  {% spaceless %}
    <div class="ghost ghost-preview">
      <div class="col-lg-3 col-md-4 col-xs-6 thumb preview">
        <div class="box image-preview preview-content preview-responsive" style="height:150px;background-size: contain;background-position: center;background-repeat: no-repeat">
          <div class="box-header" >
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-danger btn-sm pull-right preview-delete" >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <div class="progress sm">
            <div class="progress-bar progress-bar-aqua" style="width: 0%"></div>
          </div>
        </div>
        <input type="hidden" class="image_form_id" name="gallery_images[]" value="">
      </div>
    </div>

    <div class="ghost ghost-category">
      <div class="ghost">
        <input type="hidden" name="categories[]" value="">
      </div>
    </div>

    <table class="ghost" id="ghost-combination">
      {{ include('NakimaShopBundle:Block:product_edit_combination.html.twig', { 'combination': false }) }}
    </table>

    <script>

      // TABS ----------------------------------------------------------------

      // ON TAB CHANGE HASH CHANGE
      $('.nav-tabs a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
          window.location.hash = 'panel_' + e.target.hash.substr(1);
          e.preventDefault();
          return false;
      });

      // ON PAGE LOAD, GET THE TAB AND SHOW IT (tab_1 by default)
      var hash = window.location.hash;
      hash = hash.replace("panel_", "");

      if(!hash || hash == '#'){
          hash = '#tab_1';
      }

      $('a[href="' + hash +'"]').parent('li').addClass('active');
      var elementID = hash;
      $(elementID).addClass('active');
      // END TABS --------------------------------------------------------------

      var form = _id('entity-edit-form');
      form.addEventListener('submit', function(evt){
        var attr = _id("form_attributes");
        attr.removeAttribute("readonly");
        attr.removeAttribute("disabled");

        // TABS ----------------------------------------------------------------
        // ADD HASH TAB TO THE FORM URL
        var hash = window.location.hash;

        if(hash){
          form.action = form.action + hash;
        }
        // END TABS --------------------------------------------------------------

      });

      function updateImpact(event, that) {
        var data = new FormData();
        data.append('impact', that.value);
        Nakima.post(that.dataset.url, data);
      }

      function deleteCombination(event, that) {
        Nakima.post(that.dataset.url, null, function(http) {
          setupAttributeInput();
        });
      }

      function setTwoNumberDecimal(event, that) {
          that.value = parseFloat(that.value).toFixed(2);
          console.log(that.value);
      }
      var input = _id('file');

      input.addEventListener( 'change', function( event ) {

        for (var f in event.target.files) {
          var file = event.target.files[f];
          if (!file.type) {
            continue;
          }
          if (file.type.match('image')) {
            if (file.size < {{ _maximumUploadSize() }}) {
              var container = _class('ghost-preview')[0].children[0].cloneNode(4);
              _class('gallery')[0].appendChild(container);

              setPreviewAndUpload(container, file);

            } else {
              console.error(file.name, 'is too big');
            }
          } else {
            console.error(file.name, 'is not an image');
          }
        }
      });

      function setPreviewAndUpload(container, file) {
        var preview = container._class('preview-responsive')[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.addEventListener('load', function(event) {
            preview.style.backgroundImage = 'url(' + event.target.result + ')';
        });

        var bar = container._class('progress-bar')[0];

        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.upload.addEventListener('progress', function(event) {
          var pc = parseInt(100 - (event.loaded / event.total * 100));
          if (pc) {
            bar.style.width = pc + "%";
          }
        });
        xhr.onreadystatechange = function(event) {
          if (xhr.readyState == 4) {
            bar.style.width = "100%";
            if (xhr.status == 200) {
              bar.parentNode.style.display = 'none';
              var media = JSON.parse(xhr.responseText).media;
              preview.style.backgroundImage = 'url(' + media.downloadLink + ')';
              preview._class('preview-delete')[0].style.opacity = 0.15;
              container.classList.add('loaded');

              container._class('image_form_id')[0].value = media.id;
              preview._class('preview-delete')[0].onclick = function(event) {
                Nakima.delete("{{ url('nakima_shop_api_delete_media') }}?id=" + media.id, [], function() {
                  container.remove();
                }, function() {});
              };
            } else {
              bar.classList.add('progress-bar-red');
            }
          }
        };

        var formData = new FormData();
        formData.append("media", file);
        xhr.open("POST", "{{ url('nakima_shop_api_upload_media') }}", true);
        xhr.send(formData);
      }

      function deletePreview(event, container, id) {
        event.preventDefault();
        Nakima.delete("{{ url('nakima_shop_api_delete_media') }}?id=" + id, [], function() {
          container.parentNode.parentNode.parentNode.parentNode.remove();
        }, function() {});
      }

      function transform(node, map) {
        var ret = {};
        ret.id = node.id;
        ret.text = node.name;
        ret.selectable = false;
        ret.state = {
          "expanded": false,
          "checked": map[ret.id] != undefined
        };

        if (node.subcategories.length) {
          ret.nodes = [];
          for (b in node.subcategories) {
            ret.nodes[b] = transform(node.subcategories[b], map);
          }
        }

        return ret;
      }

      function getTree() {
        var aTree = {{ settings.categories | json_encode() | raw }};
        var categories = {{ data.__toArray().categories | json_encode() | raw  }};

        var map = {};

        for (var i = 0; i < categories.length; i++) {
          map[categories[i].id] = categories[i];
        }

        var tree = [];
        for (var t in aTree) {
          tree[t] = transform(aTree[t], map);
        }

        return tree;
      }

      function updateNodes(node, b) {
        node.state.checked = b;
        if (node.nodes !== undefined) {
          for (var i = 0; i < node.nodes.length; i++) {
            node.nodes[i] = updateNodes(node.nodes[i], b);
          }
        }

        return node;
      }

      function replaceNode(originalNode, node, b) {

        if (originalNode.id == node.id) {
          originalNode = node;
          return originalNode;
        }
        if (originalNode.nodes) {
          for (var i = 0; i < originalNode.nodes.length; i++) {
            var res = replaceNode(originalNode.nodes[i], node, b);
            if (res) {
              originalNode.nodes[i] = res;
              originalNode.state.expanded = true;
              return originalNode;
            }
          }
        }

        return false;
      }

      var originalTree = getTree();
      var inputs = _id('category-inputs');

      function buildTree(tree) {
        console.log(tree);
        _id('tree').outerHTML = '<div id="tree"></div>';
        var $checkableTree = $('#tree').treeview({
          data: tree,
          uncheckedIcon: "fa fa-square-o",
          checkedIcon: "fa fa-check-square-o",
          collapseIcon: "fa fa-chevron-down",// "fa fa-minus",
          expandIcon: "fa fa-chevron-right",// "fa fa-plus",
          showIcon: false,
          showCheckbox: true,
          silent: true,
          onNodeChecked: function(event, node) {
            updateNodes(node, true);
            for (var i = 0; i < tree.length; i++) {
              var res = replaceNode(tree[i], node, true);
              if (res) {
                tree[i] = res;
              }
            }
            inputs.innerHTML = "";
            for (var i = 0; i < tree.length; i++) {
              refresh(tree[i]);
            }
            buildTree(tree);

            //asdasd();
          },
          onNodeUnchecked: function (event, node) {
            updateNodes(node, false);
            for (var i = 0; i < tree.length; i++) {
              var b = replaceNode(tree[i], node, false);
              if (b) {
                tree[i] = b;
              }

            }
            inputs.innerHTML = "";
            for (var i = 0; i < tree.length; i++) {
              refresh(tree[i]);
            }

            buildTree(tree);
            //asdasd();
          }
        });
      }

      function refresh(node) {
        if (node.nodes) {
          node.state.checked = false;
          for (var i = 0; i < node.nodes.length; i++) {
            var b = refresh(node.nodes[i]);
            node.state.checked = node.state.checked || b;
          }
        }

        if (node.state.checked) {
          var copy = _class("ghost-category")[0].children[0].cloneNode(3);
          copy._tag('input')[0].value = node.id;
          inputs.appendChild(copy);
        }

        return node.state.checked;
      }

      buildTree(originalTree);
      for (var i = 0; i < originalTree.length; i++) {
        refresh(originalTree[i]);
      }

      function handleCombinations() {
        // show tab 2 as selected on page load
        //$('.nav-tabs li:eq(1) a').tab('show');

        // handle generate combinations button

        var buttonGenerate = _id('combinations-generate');

        buttonGenerate.addEventListener('click', function(e){

          e.preventDefault();

          var cs = _id('combinations-selector');

          var selected_options = cs.querySelectorAll('option:checked');


          // ERROR CHECKING

          var combinationsError = _class('combinations-error')[0];

          /*
          if (selected_options.length < 1) {
            combinationsError.innerHTML = combinationsError.innerHTML.replace('{ERROR_MESSAGE}', 'Deben seleccionarse al menos dos atributos para generar combinaciones.');
            combinationsError.classList.remove('hidden');
            return false;
          }
          */

          combinationsError.classList.add('hidden');

          // END ERROR CHECKING

          //TODO: prepare selected options

          var data = new FormData();

          for (i = 0; i < selected_options.length; ++i) {
            data.append('attributevaluesIds[]', selected_options[i].value);
            selected_options[i].checked = 0;
          }

          data.append('price', 0);

          Nakima.post("{{ url('nakima_shop_api_create_combinations', {pId: data.id}) }}", data, function(http) {
            //var response = fakeCombinations;
            var response = JSON.parse(http.response);

            $("#combinations-selector").val(null).trigger("change");

            var combinations = _id("nkm-shop-combinations");
            combinations.innerHTML = '';

            response.all_combinations.forEach(function(combination) {
              var copy = _id("ghost-combination").children[0].children[0].cloneNode(4);

              copy._put('id', combination.id);
              copy._put('id', combination.id, "_");
              copy._put('impact', combination.priceImpact);

              var type = "";
              var i = 0;
              for (i in combination.attributeValues) {
                i = parseInt(i);
                if (i) {
                  type += ", ";
                }
                type += combination.attributeValues[i].fqn;
              }

              copy._put('types', type);
              combinations.append(copy);

            });
            setupAttributeInput();
          });

        });

        setupAttributeInput();
      }

      function renderCombinations(combinations) {
        //console.log(combinations);
      }

      function setupAttributeInput() {
          var combinations = _id("nkm-shop-combinations");
          var len = combinations.children.length;

          var attr = _id("form_attributes");

          if (len > 0) {
              attr.setAttribute("readonly", "readonly");
              attr.setAttribute("disabled", "disabled");
          } else {
              attr.removeAttribute("readonly");
              attr.removeAttribute("disabled");
          }
      }

      handleCombinations();
    </script>
  {% endspaceless %}
{% endblock %}
