{% extends _nakima('nakima_admin').templates.list %}
{% block content2 %}
  {% spaceless %}
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{ config_block.meta.label }}</h3>
        </div>

        <div class="box-body">
          <div class=" dataTables_wrapper form-inline dt-bootstrap">
            <table id="list_table" class="table table-hover table-responsive">
              <thead>
                <tr>
                  {% for field in mapper.getFields() %}
                    <th>{{ field.getLabel() | trans({}, translator) }}</th>
                  {% endfor %}
                  {% block list_actions_column %}
                    {% if not app.request.get("type") %}
                      <th class="no-sort"></th>
                    {% endif %}
                  {% endblock %}
                </tr>
              </thead>
              <tbody>
                {% for value in data %}
                  <tr>
                    {% for field in mapper.getFields() %}
                      {% set field_value = value.get(field.getAttribute()) %}
                      {% if field.getAttribute() == "discount" %}
                        <td style="">
                          <div class="input-group input-group-sm">
                            <input type="text" class="form-control" id="trackingNumber-input-{{ value.id }}" value='{{ field_value }}'>
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-info btn-flat" onclick="onTrackingNumberClick(event, 'trackingNumber-input-{{ value.id }}', '{{ url('nakima_shop_api_product_discount_update', {id: value.id}) }}')"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </span>
                          </div>
                        </td>
                      {% elseif field_value is iterable %}
                        <td style="vertical-align: middle">{{ field_value | join(', ') | raw }}</td>
                      {% elseif _isBaseEntity(field_value) %}
                        <td style="vertical-align: middle"><a href="#">{{ field_value | raw }}</a></td>
                      {% else %}
                        <td style="vertical-align: middle">{{ field_value | raw }}</td>
                      {% endif %}
                    {% endfor %}
                    {% block list_actions %}
                      {% if not app.request.get("type") %}
                      <td class="col-md-2">
                        {% set ihaveone = false %}
                        {% set andanother = false %}

                        <div class="btn-group">
                          {% if admin.allow(app.user, config_block.role, 'edit', value) %}
                            {% if ihaveone %}
                              {% if not andanother %}
                                {% set andanother = true %}
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                              {% endif %}
                              <li><a href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': value.id, 'action': 'edit'}) }}" type="button" class="btn btn-default">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil"></i>{% trans from "nakima_admin" %}nakima_admin_edit{% endtrans %}</a></li>
                            {% else %}
                              {% set ihaveone = true %}
                              <a href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': value.id, 'action': 'edit'}) }}" type="button" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                          {% endif %}

                          {% if admin.allow(app.user, config_block.role, 'show', value) %}
                            {% if ihaveone %}
                              {% if not andanother %}
                                {% set andanother = true %}
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                              {% endif %}
                              <li><a href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': value.id, 'action': 'show'}) }}" ><i class="fa fa-eye"></i>{% trans from "nakima_admin" %}nakima_admin_show{% endtrans %}</a></li>
                            {% else %}
                              {% set ihaveone = true %}
                              <a href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': value.id, 'action': 'show'}) }}" type="button" class="btn btn-default">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-eye">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
                            {% endif %}
                          {% endif %}

                          {% if admin.allow(app.user, config_block.role, 'delete', value) %}
                            {% if ihaveone %}
                              {% if not andanother %}
                                {% set andanother = true %}
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                              {% endif %}
                                <li><a class="text-red" data-toggle="modal" data-target="#delete-modal-{{ value.id }}"><i class="fa fa-trash"></i>{% trans from "nakima_admin" %}nakima_admin_delete{% endtrans %}</a></li>
                            {% else %}
                              {% set ihaveone = true %}
                              <a class="text-red btn btn-default" data-toggle="modal" data-target="#delete-modal-{{ value.id }}"><i class="fa fa-trash">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
                            {% endif %}
                          {% endif %}

                          {% if andanother %}
                            </ul>
                          {% endif %}
                        </div>

                          <div class="modal modal-danger" id="delete-modal-{{ value.id }}">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                  <h4 class="modal-title"><i class="fa fa-warning"></i>&nbsp;{% trans from "nakima_admin" %}nakima_admin_delete_confirmation_title{% endtrans %}</h4>
                                </div>
                                <div class="modal-body">
                                  <p>{% trans with {'%name%' : value | trans({}, translator)} from "nakima_admin" %}nakima_admin_delete_confirmation_question %name%{% endtrans %}</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">{% trans from "nakima_admin" %}nakima_admin_delete_cancel{% endtrans %}</button>
                                  <a type="button" class="btn btn-outline" href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': value.id, 'action': 'delete'}) }}">{% trans from "nakima_admin" %}nakima_admin_delete_confirm{% endtrans %}</a>
                                </div>
                              </div>
                              <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                          </div>

                      </td>
                    {% endif %}
                    {% endblock %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  function onTrackingNumberClick(event, inputId, url) {
    var input = _id(inputId);
    var trackingNumber = input.value;

    var data = new FormData();
    data.append('trackingNumber', trackingNumber);

    var onTrackingNumberChangeSuccess = function() {
      showSuccess('Descuento aplicado correctamente.');
    }

    var onTrackingNumberChangeError = function() {
      showError('No se ha podido modificar el descuento.');
    }

    Nakima.post(
      url,
      data,
      onTrackingNumberChangeSuccess,
      onTrackingNumberChangeError
    );
  }
  </script>
  {% endspaceless %}
{% endblock %}