{% if combination and combination != "false" %}
  <tr>
    <td style="vertical-align: middle;" class="col-md-4 col-md-offset-1">{{ combination.productAttributeValues | join(', ') }}</td>
    <td class="col-md-1 actions">
      <a  type="button" data-url="{{ url('nakima_shop_api_combination_delete', { id: combination.id}) }}" class="btn btn-default" onclick="deleteCombination(event, this);this.parentNode.parentNode.remove();">
        <i class="fa fa-trash"></i>
      </a>
    </td>
  </tr>
{% else %}
  <tr>
    <td style="vertical-align: middle;" class="col-md-4 col-md-offset-1">{types}</td>
    <td class="col-md-1 actions">
      <a  type="button" data-url="{{ url('nakima_shop_api_combination_delete', { id: "_id_" })  }}" class="btn btn-default" onclick="deleteCombination(event, this);this.parentNode.parentNode.remove()">
        <i class="fa fa-trash"></i>
      </a>
    </td>
  </tr>
{% endif %}