{% extends _nakima('nakima_admin').templates.show %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ config_block.meta.label }}</h3>
                </div>
                <div class="form-horizontal">
                    <div class="box-body">
                        {% for field in form.children %}
                            <div class="form-group">
                                {% if field.vars.name != '_token' %}
                                    {{ form_label(field, null, {'label_attr': {'class': 'col-sm-3'}}) }}
                                    <div class="col-sm-9">
                                        <div style="vertical-align: middle">{{ field.vars.name }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
