{% extends _nakima('nakima_admin').templates.base %}

{% block content %}
  {% spaceless %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-list-outline"></i></span>

            <div class="info-box-content">
              <a href="{{ url('nakima_admin_action', {'bundle': 'Shop', 'entity': 'ProductCategory', 'action': 'list'}) }}" class="info-box-text btn btn-link">Gestión de categorias</a>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-keypad-outline"></i></span>

            <div class="info-box-content">
              <a href="{{ url('nakima_admin_action', {'bundle': 'Shop', 'entity': 'Brand', 'action': 'list'}) }}" class="info-box-text btn btn-link">Gestión de marcas</a>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-tshirt-outline"></i></span>

            <div class="info-box-content">
              <a href="{{ url('nakima_admin_action', {'bundle': 'Shop', 'entity': 'Product', 'action': 'list'}) }}" class="info-box-text btn btn-link">Gestión de productos</a>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>
  {% endspaceless %}
{% endblock %}