<a href="{{ url('nakima_admin_action', {'bundle': block.getBundleName(), 'entity': block.getEntityName(), 'action': 'list', 'status' : 'returned', hto: 1}) }}">
  {% if the_block.meta.icon is defined %}
    {% if the_block.meta.icon_color is defined %}
    {% else %}
      <i class="fa fa-{{ the_block.meta.icon }}"></i>
    {% endif %}
  {% else %}
    <i class="fa"></i>
  {% endif %}
  {{ the_block.meta.label }}
</a>