
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ subject }}</title>
    <style type="text/css">
      @media (min-width: 550px) {
          .hero-image {
            top: 0 !important;
          }

          table[class="body"] {
            padding-bottom: 50px !important;
            padding-top: 50px !important;
          }

          .email-logo-masthead {
            display: inline !important;
            height: 35px !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }

          .email-content {
            border-left: 1px solid #dadfe1 !important;
            border-right: 1px solid #dadfe1 !important;
          }

          .email-content-block {
            padding-left: 50px !important;
            padding-right: 50px !important;
          }
        }
        .email-social-bar-copy p, .email-social-bar-copy a, .email-social-bar-copy .ios-no-link {
          color: white !important;
          text-decoration: none !important;
        }
    </style>
  </head>

  <body style="background-color: #f6f8f8; height: 100%; margin: 0; padding: 0;">
    <div style="display:none;font-size:1px;color:#f6f8f8;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">{% block resume %}{{ subject }}{% endblock %}</div>
    <table class="body" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #f6f8f8; height: 100%; padding-bottom: 25px; padding-left: 0; padding-right: 0; padding-top: 25px;">
      <tbody>
        <tr>
          <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td width="550">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td>
                            <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <td>
                                  <img class="email-logo-masthead" src="http://static.showea.com/img/mail_logo.png" height="35" style="width: auto; max-width: 100% !important; display: block; height: 30px; margin-bottom: 25px; margin-left: auto; margin-right: auto;">
                                </td>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td class="email-content-border" style="border-top: 1px solid #dadfe1;"></td>
                        </tr>
                        <tr>
                          <td class="email-content" style="background-color: #FFFFFF;">
                            <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td class="email-content-block copy" style='font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important; padding-left: 25px; padding-right: 25px; padding-top: 50px;'>
                                    <h2 style='margin: 0 0 0.5rem 0; line-height: 1.25; font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important; color: #3e474c; font-size: 2rem; font-weight: 500; font-style: normal;'>{% block header%}{{ subject }}{% endblock %}</h2>

                                    <p style='margin-bottom: 15px; font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important; font-weight: 400; font-size: 16px; line-height: 1.5;'>{% block body %}{{ to }}{% endblock %}</p>
                                    <center style='font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important;'>
                                      <div class="section" style='font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important; padding: 50px 0;'>
                                        {% block action %}<a class="button" href="{% block action_link %}{% endblock %}" target="_blank" style='-moz-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); -o-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); -webkit-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); color: white; font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important; background-color: #383838; border-radius: 3px; padding: 15px 17px; text-decoration: none;'>{% block action_text %}{% endblock %}</a>{% endblock %}
                                      </div>
                                    </center>
                                    <p style='margin-bottom: 15px; font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important; font-weight: 400; font-size: 16px; line-height: 1.5;'>Recibe un cordial saludo.</p>
                                    <p class="signout light-type" style='margin-bottom: 15px; font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important; font-weight: 400; font-size: 16px; line-height: 1.5; color: #788991;'>— El equipo de Showea</p>
                                    <div class="padding-break" style='font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important; margin-top: 50px;'></div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table class="email-social-bar" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-left: 50px; padding-right: 50px; background: #383838; padding-bottom: 25px; padding-top: 25px;">
                              <tbody>
                                <tr>
                                  <td class="email-social-bar-copy copy" style='font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important;'>
                                    <p class="ios-no-link" style='margin-bottom: 15px; font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important; font-weight: 400; font-size: 11px; line-height: 1.5; color: white;'>SHOWEA RETAIL NETWORK, S.L.
                                      <br style='font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important;'>Via Augusta 29, 6ª Planta
                                      <br style='font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important;'>08006, Barcelona</p>
                                  </td>
                                  <td class="email-social-bar-icons">
                                    <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td align="right">
                                            <a class="email-social-bar-social-icon" href="https://twitter.com/showea_es" style="-moz-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); -o-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); -webkit-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); color: #4EAACC; padding: 0 5px; text-decoration: none;">
                                              <img class="auto-width" src="http://static.showea.com/img/mail_twitter.png" style="width: auto; max-width: 100% !important; border: 0;">
                                            </a>
                                            <a class="email-social-bar-social-icon" href="https://www.facebook.com/es.showea" style="-moz-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); -o-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); -webkit-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); color: #4EAACC; padding: 0 5px; text-decoration: none;">
                                              <img class="auto-width" src="http://static.showea.com/img/mail_facebook.png" style="width: auto; max-width: 100% !important; border: 0;">
                                            </a>
                                            <a class="email-social-bar-social-icon" href="https://www.instagram.com/showea_official/" style="-moz-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); -o-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); -webkit-transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); transition: color 0.175s cubic-bezier(0.215, 0.61, 0.355, 1); color: #4EAACC; padding: 0 5px; text-decoration: none;">
                                              <img class="auto-width" src="http://static.showea.com/img/mail_instagram.png" style="width: auto; max-width: 100% !important; border: 0;">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" class="email-disclaimer copy" style='font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important; padding-left: 50px; padding-right: 50px; padding-top: 15px; padding-bottom: 15px;'>
                            <p style='margin-bottom: 15px; font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important; font-weight: 400; font-size: 11px; line-height: 1.5; color: #788991; margin-top: 0;'>Este mensaje ha sido enviado a <strong style='font-weight: 500; font-family: "Avenir Next", "Avenir", "Helvetica", sans-serif !important; font-size: 11px; color: #788991; margin-top: 0;'>{% block email %}{{ to }}{% endblock %}</strong>.</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
