{% extends "NakimaShopBundle:Emails:base.html.twig" %}

{#{% block email %}{{ to }}{% endblock %}#}
{#{% block header %}{{ subject }}{% endblock %}#}
{% block action_link %}{{ url('nakima_admin_dashboard') }}{% endblock %}
{% block action_text %}Showea{% endblock %}
{% block body %}
    {% if new %}
        {% if order.isHto %}
            Se ha solicitado hacer una prueba en casa. Su número de referencia es el #{{ order.ref }}.
        {% else %}
            Se ha realizado un nuevo pedido. Su número de referencia es el #{{ order.ref }}.
        {% endif %}
    {% else %}
        El pedido #{{ order.ref }} ha sido actualizado.
    {% endif %}
{% endblock %}