{% extends "NakimaShopBundle:Emails:base.html.twig" %}

{#{% block email %}{{ to }}{% endblock %}#}
{#{% block header %}{{ subject }}{% endblock %}#}
{% block action_link %}{{ url('nakima_admin_dashboard') }}{% endblock %}
{% block action_text %}Showea{% endblock %}
{% block body %}
    {% if new %}
        {% if order.isHto %}
            Tu solicitación de prueba se ha realizado correctamente. Su número de referencia es el #{{ order.ref }}.
        {% else %}
            Tu pedido se ha realizado correctamente. Su número de referencia es el #{{ order.ref }}.
        {% endif %}
    {% else %}
        Tu pedido #{{ order.ref }} ha sido actualizado.
    {% endif %}
    <table style="width: 100%; text-align: center">
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio unidad</th>
            <th>Precio final</th>
        </tr>
        {% for product in order.orderProducts %}
            <tr>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.quantity }}
                </td>
                <td>
                    {{ product.finalPrice }}€
                </td>
                <td>
                    {{ product.finalPrice * product.quantity }}€
                </td>
            </tr>
        {% endfor %}
    </table>

    <br><br>

    <table style="width: 100%; text-align: center">
        <tr>
            <td><b>Subtotal:</b></td>
            <td>{{ order.price | number_format(2) }}€</td>
        </tr>
        <tr>
            <td><b>Envío:</b></td>
            <td>{{ order.shippingMethod.price | number_format(2) }}€</td>
        </tr>
        <tr>
            <td><b>Total:</b></td>
            <td>{{ order.price + order.shippingMethod.price | number_format(2) }}€</td>
        </tr>
    </table>
{% endblock %}