{% extends "NakimaShopBundle:Emails:base.html.twig" %}

{#{% block email %}{{ to }}{% endblock %}#}
{#{% block header %}{{ subject }}{% endblock %}#}
{% block action_link %}{{ url('nakima_admin_dashboard') }}{% endblock %}
{% block action_text %}Showea{% endblock %}
{% block body %}El vendedor {{ target.name }} se ha registrado en el sistema.{% endblock %}